

.card-title {
  font-family: 'Bitter';
  font-size: 18px;
  font-weight: bold;
  //color: ;
}

.card-identity {
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: bold;
  //color: ;
}

.card-backstory {
  p {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    //color: ;
    span {
      font-weight: 400;
    }
  }




}
