
.card {
  padding-left: 20px;
}

.card-title {
  font-family: 'Bitter';
  font-size: 32px;
  font-weight: bold;
  color: red;
  .card-characterTitle{
    font-style: italic;
    font-size: 25px;
    color: red;
    padding-left: 20px;
    margin-right: 200px;
  }
}

.card-identity {
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: bold;
  //color: ;
}

.card-backstory {
  p {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    //color: ;
    span {
      font-weight: 400;
    }
  }




}
