.navbar {
  height: 100px;
  background: black 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 19px #de30f541;
  .nav-link{
    color: rgb(233, 176, 71) !important;
    text-transform: uppercase;
  }
}


.btn-character-navbar{
 border-color: purple;
 border-width: 3px;
 border-style: solid;
 border-radius: 25px;
 color: rgb(233, 176, 71);
 text-transform: uppercase;
 font-weight: bold;
 font-family: 'Raleway';
}

.btn-character-navbar:hover,
.btn-character-navbar:not(:disabled):not(.disabled):active {
  border-width: 3px;
  background: transparent !important;
  border-color: purple;
}

.text-character-purple{
  color: purple;
}

.vl-red:after {
  content: '|';
  color: purple;
  height: 20px;
  font-weight: bold;
}


